<html>
<head>
    <title><%= title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/admin.css">
    <style type="text/css">
        h1 a { background-image: url(/img/flame_big.png) !important; }
        .resultResponse.success{
            background:#2ecc71;
            }
        .resultResponse.error{
            background: #ff0000;
        }
    </style>
    <script src="/js/jquery.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
<head>
<body>
    <header>
        <h1>Add post </h1>
        <a href="/admin">Back to Dashboard</a>
    </header>
    <div class="main">
        <form name="addPostForm" action="addSubmit" method="post" id="addPostForm" enctype="multipart/form-data">
            <p>
                <label>Title:</label>
                <input type="text" name="title" >
            </p>
            <p>
                <label>Time and Hour:</label>
                <input type="text" name="time" >
            </p>
            <p>
                <label>Content:</label>
                <textarea cols= "70" rows = "10" name="content"></textarea>
            </p>
            <p>
                <label>Emotion:</label>
                <select name="emotion">
                    <option selected="selected" value="">--Choose emotion--</option>
                    <option value="0">Happy</option>
                    <option value="1">Normal</option>
                    <option value="2">Sad</option>
                </select>
            </p>
            <p>
                <label>Type:</label>
                <input type="radio" name="type" value="image" checked> Image
                <input type="radio" name="type" value="video"> Video
                <input type="radio" name="type" value="other"> Other
            </p>
            <p>
                <label>Feature:</label>
                <input type="file" name="featureImage" />
                <input type="text" name="featureVideo" placeholder="Link video or other" style="display:none"/>
            </p>
            
            <p>
                <input type="submit" value="Add" name="add" style="padding:10px; background:#71cf12">
                <input type="hidden" id="idPost" />
            </p>
        </form>
        <div class="block uploadPanel">
            <div class="uploadedImage">
            
            </div>
            <div class="progress">
              <div class="progress-bar" role="progressbar"></div>
            </div>
            <button class="btn btn-lg upload-btn" type="button">Upload File</button>
        </div>
        <input id="upload-input" type="file" name="uploads[]" multiple="multiple"></br>
        <div class="resultResponse" style="bottom:0; padding:10px; position:fixed; color:#fff; width: 100%; font-size:24px; text-align: center">
        </div>
    </div>  
    <script src="/js/admin.js"></script>
</body>
</html>