<html>
<head>
    <title><%= title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/admin.css">
    <script src="/js/jquery.js"></script>
<head>
<body>
    <header>
        <h1>Dashboard <a href="/logout">Logout</a></h1>
        <a href="/admin/add">Add post</a>
    </header>
    <div class="main">
        
        
        <div class="block">
            
        </div>
    </div>  
    <script src="/js/admin.js"></script>
</body>
</html>