<html>
<head>
    <title><%= title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel='stylesheet' id='login-css'  href='/css/buttons.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='login-css'  href='/css/dashicons.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='login-css'  href='/css/login.min.css' type='text/css' media='all' />
    <style type="text/css">
        h1 a { background-image: url(/img/flame_big.png) !important; }
        .resultResponse.success{
            background:#2ecc71;
            }
        .resultResponse.error{
            background: #ff0000;
        }
    </style>

    <script type='text/javascript' src='/js/jquery.js'></script>  
</head>
<body class="login login-action-login wp-core-ui  locale-en-us">
    <div class="resultResponse" style="bottom:0; padding:10px; position:fixed; color:#fff; width: 100%; font-size:24px; text-align: center">
    </div>
    <div id="login">
		<h1> <a href="https://wordpress.org/" title="Powered by WordPress">Tempo</a></h1>
        
            
            
        <form name="loginform" id="loginform" action="loginSubmit" method="post">
            
            <p>
                <label for="user_login">Email<br />
                <input type="text" name="email" id="user_login" class="input" value="" size="20" /></label>
            </p>
            <p>
                <label for="user_pass">Password<br />
                <input type="password" name="password" id="user_pass" class="input" value="" size="20" /></label>
            </p>
                <p class="forgetmenot"><label for="rememberme"><input name="rememberme" type="checkbox" id="rememberme" value="forever"  /> Remember Me</label></p>
            <p class="submit">
                <input type="submit" name="wp-submit" class="button button-primary button-large" value="Log In" id="login-button" />
                <input type="hidden" name="redirect_to" value="http://demo.fuelpixels.com/tempo/wp-admin/" />
                <input type="hidden" name="testcookie" value="1" />
            </p>
            
        </form>
        <p id="nav">
            <a href="http://demo.fuelpixels.com/tempo/wp-login.php?action=lostpassword" title="Password Lost and Found">Lost your password?</a>
        </p>
        <script type="text/javascript">
            function wp_attempt_focus(){
                setTimeout( function(){ try{
                d = document.getElementById('user_login');
                d.focus();
                d.select();
                } catch(e){}
                }, 200);
            }

            wp_attempt_focus();
            if(typeof wpOnload=='function')wpOnload();
        </script>

	<p id="backtoblog"><a href="/" title="Are you lost?">&larr; Back to Home</a></p>
    </div>
    <div class="clear"></div>
    <script src="/js/user.js"></script>
</body>    
</html>