<div id="widgets">
            <aside id="search-3" class="widget widget_search">
                <form role="search" method="get" class="search-form" action="http://demo.fuelpixels.com/tempo/">
                    <label>
                        <span class="screen-reader-text">Search for:</span>
                        <input type="search" class="search-field" placeholder="Search…" value="" name="s">
                    </label>
                    <input type="submit" class="search-submit" value="Search">
                </form>
            </aside>
            <aside id="nav_menu-2" class="widget widget_nav_menu">
                <div class="menu-main-menu-container">
                    <ul id="menu-main-menu" class="menu">
                        <li id="menu-item-63" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-63">
                            <a href="http://demo.fuelpixels.com/tempo/">Home</a>
                        </li>
                        <li id="menu-item-58" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-58"><a href="http://demo.fuelpixels.com/tempo/?page_id=2">About Me</a></li>
                        <li id="menu-item-62" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-62"><a href="http://demo.fuelpixels.com/tempo/?page_id=60">Contact Me</a></li>
                    </ul>
                </div>
            </aside>
            <aside id="recent-posts-3" class="widget widget_recent_entries">
            	<h3 class="widget-title">Recent Posts</h3>		
                    <ul>
					    <li>
				            <a href="http://demo.fuelpixels.com/tempo/?p=34">Sunset</a>
						</li>
                        <li>
                            <a href="http://demo.fuelpixels.com/tempo/?p=32">Our trip to the Mountains</a>
                        </li>
                        <li>
				            <a href="http://demo.fuelpixels.com/tempo/?p=26">A Beautiful Story</a>
						</li>
					    <li>
				            <a href="http://demo.fuelpixels.com/tempo/?p=17">Gallery Post</a>
						</li>
					    <li>
				            <a href="http://demo.fuelpixels.com/tempo/?p=13">Video Post</a>
						</li>
				    </ul>
		    </aside>
            <aside id="recent-comments-3" class="widget widget_recent_comments">
                <h3 class="widget-title">Recent Comments</h3>
                <ul id="recentcomments">
                    <li class="recentcomments">admin on <a href="http://demo.fuelpixels.com/tempo/?p=34#comment-2">Sunset</a></li><li class="recentcomments"><a href='https://wordpress.org/' rel='external nofollow' class='url'>Mr WordPress</a> on <a href="http://demo.fuelpixels.com/tempo/?p=1#comment-1">Hello world!</a></li>
                </ul>
            </aside>
            <aside id="archives-3" class="widget widget_archive">
                <h3 class="widget-title">Archives</h3>		
                    <ul>
	                    <li><a href='http://demo.fuelpixels.com/tempo/?m=201407'>July 2014</a></li>
		            </ul>
            </aside>
            <aside id="categories-3" class="widget widget_categories">
                <h3 class="widget-title">Categories</h3>		
                <ul>
                    <li class="cat-item cat-item-1"><a href="http://demo.fuelpixels.com/tempo/?cat=1" title="View all posts filed under Uncategorized">Uncategorized</a></li>
		        </ul>
            </aside>
            <aside id="meta-3" class="widget widget_meta">
                <h3 class="widget-title">Meta</h3>			
                <ul>
					<li><a href="http://demo.fuelpixels.com/tempo/wp-login.php">Log in</a></li>
			        <li><a href="http://demo.fuelpixels.com/tempo/?feed=rss2" title="Syndicate this site using RSS 2.0">Entries <abbr title="Really Simple Syndication">RSS</abbr></a></li>
			        <li><a href="http://demo.fuelpixels.com/tempo/?feed=comments-rss2" title="The latest comments to all posts in RSS">Comments <abbr title="Really Simple Syndication">RSS</abbr></a></li>
                    <li><a href="https://wordpress.org/" title="Powered by WordPress, state-of-the-art semantic personal publishing platform.">WordPress.org</a></li>			
                </ul>
            </aside>        
        </div>
    </div>