*{
    margin:0 ;
    padding: 0;
}

header{
    position:fixed;
    top:0;
    padding:30px;
    border:1px solid #000;
    width:100%
}
.main{
    margin: 140px ;
}
.block{
    padding:10px;
    border: 3px solid #000;
    margin-top:20px;
}
p{
    margin-top:10px;
}
input[type=text]{
    padding:5px ;
    font-size:14px;
}

.upload-btn {
  color: #ffffff;
  background-color: #F89406;
  border: none;
}

.upload-btn:hover,
.upload-btn:focus,
.upload-btn:active,
.upload-btn.active {
  color: #ffffff;
  background-color: #FA8900;
  border: none;
}
#upload-input {
  display: none;
}
.uploadPanel{
    display: none
}